<div>
    <div>
        <p style="background-color: rgb(3, 27, 52); text-align:center">
            <a href="/api-docs"  style="font-size: xx-large; color:rgb(248, 242, 242); font-family:monospace" target="_blank">View APi Documentation</a>
        </p>
    </div>
</div>
