<div class="input">
        <form name="form1"  action="/data" method="post">
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="firstname" value="" autofocus required><br>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lastname" value="" required><br>
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email" value="" required><br>
            <label for="idnumber">ID:</label><br>
            <input type="number" id="idnumber" name="idnumber" value="" required><br><br>
            <input type="submit" id="submit" value="Submit" onclick="submit_form();">
        </form> 
    </div>